<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Keller Williams KJH Test</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="{% static 'main/css/dropify.min.css' %}">
</head>
<body style="background: #f7f7fb;">
<div class="container" style="max-width: 600px; border-radius: 5px; margin-top: 50px; padding: 50px 50px; color: #666 !important; background: #fff; box-shadow: 2px 2px 5px rgba(0,0,0,.05);">
<h1 style="padding-botton:20px;">Keller Williams KJH Test</h1>
    <div class="row">
        <form class="form" action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <div class="col-md-12" style="padding-bottom: 20px;">
                    <label for="agent_email">Email</label>
                    {{form.agent_email}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{form.inspection_file}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary"
                        style="margin-top: 20px; float: right; box-shadow: 5px 5px 12px rgba(50,55,78,.2); padding: 10px 30px;">
                        Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="{% static 'main/js/dropify.min.js' %}"></script>
<script>
    $('.dropify').dropify({allowedFileExtensions: 'pdf'});
</script>
</body>
</html>