<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keller Williams KJH Test</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body>
    <h1>Keller Williams KJH Test</h1>
    <div class="container">
        <div class="row">
            <form class="form" action="#" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="first_name">First Name</label>
                        <input class="form-control" type="text" name="first_name" id="first_name"/>
                    </div>
                    <div class="col-md-6">
                        <label for="last_name">Last Name</label>
                        <input class="form-control" type="text" name="last_name" id="last_name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="current_address">Current Address</label>
                        <input class="form-control" type="text" name="current_address" id="current_address"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="property_address">Property Address</label>
                        <input class="form-control" type="text" name="property_address" id="property_address"/>
                    </div>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>