<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Thanks | Keller Williams KJH Test</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body style="background: #f7f7fb;">
    <div class="container" style="max-width: 600px; border-radius: 5px; margin-top: 50px; padding: 50px 50px; color: #666 !important; background: #fff; box-shadow: 2px 2px 5px rgba(0,0,0,.05);">
        <h1 style="padding-botton:20px;">Thank You!</h1>
        <div class="row">
            You uploaded {{NUM_UPLOADS}} reports to Keller Williams!
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>